<%- include('../partials/head') %>
<!-- Seperator -->
<%- include('../partials/header') %>

<div><a class="backbutton" href="/journal/<%=entry.id%>">Go Back</a>"</div>
<div>
    <form action="/journal/<%= entry._id %>?_method=PUT"method="POST"class="box">
<h1>Edit Entry</h1>
<label for="Title">Title: 
<input type="text" name="title" value="<%=entry.title%>"/>
</label>
<label for="Entry">Entry: 
<textarea name="entry" id="" cols="30" rows="10"><%=entry.entry%></textarea>
</label>
<label for="taskIsCompleted">is Task Complete? 
<input type="checkbox" name="taskIsCompleted" 
<% if(entry.taskIsCompleted){ %> checked <% } %>>
</label>

<button class="button" type="submit">Save</button>


</form>
</div>
</div>
<!-- Seperator -->
<%- include('../partials/footer') %>
